@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 2px 2px #63b55a;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */

    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700;

    border-radius: 0.5rem;
    border: 3px solid;
    @apply border-r-[4px] border-gray-50 dark:border-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#c3c5c5] dark:bg-gray-600;
  }

  .scrollbar::-webkit-scrollbar-corner {
    @apply bg-gray-200 dark:bg-gray-600;
  }
}

@layer utilities {
  body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  body::-webkit-scrollbar-track {
    /* border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */

    @apply bg-gray-300 dark:bg-gray-600;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gray-500 dark:bg-gray-700;

    border-radius: 0.5rem;
    border: 3px solid;
    @apply border-2 border-gray-300 dark:border-gray-600;
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-800;
  }

  body::-webkit-scrollbar-corner {
    @apply bg-gray-200 dark:bg-gray-600;
  }
}
